.content__post-creator {
    text-shadow: 0.06rem 0.06rem 0.25rem #3b3b3b;
}
.content__post-creator-header-text {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    width: 10rem;
    opacity: .9;
    background-color: #a937b1;
    border-radius: .6rem;
    padding: .2rem;
}
.content__post-creator-input-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.content__post-creator-input {
    opacity: 0.9;
    display: block;
    margin-right: 1rem;
    background-color: #a937b1;
    border: none;
    outline: none;
    border-radius: .5rem;
    width: 50rem;
    height: 3rem;
    font-size: 1.2rem;
    padding: 1rem;
}
.content__post-creator-input::-webkit-input-placeholder {
    color: #1f1f1f;
    text-shadow: 0.06rem 0.06rem 0.25rem #3b3b3b;
}
.content__post-creator-btn {
    background-color: #a937b1;
    opacity: .9;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width: 2rem;
    height: 2rem;
    transition: .1s ease;
}
.content__post-creator-btn:active {
    box-shadow: none;
}