.content__user-avatar {
    width: 10rem;
    height: 10rem;
    margin-right: 1.5rem;
    z-index: 2;
}
.content__user {
    display: flex;
    margin-bottom: 2rem;
    z-index: 2;
    background-color: #9C27B0;
    opacity: .9;
    width: 50%;
    padding: 1rem;
    border-radius: .5rem;
}
.content__user-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    text-shadow: 0.06rem 0.06rem 0.25rem #3b3b3b;
}
.content__description-user-name {
    margin-bottom: 2rem;
    font-size: 2rem;
    z-index: 2;
}