*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1rem;
  grid-template-areas: 
  "h h "
  "n c";
  padding-left: 4rem;
  padding-right: 4rem;
}
.header {
  grid-area: h;
  background-color: green;
}
.nav {
  grid-area: n;
  background-color: green;
}
.content {
  grid-area: c;
  background-color: green;
}
.header img {
  width: 6rem;
}