*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: grid;
  background-color: #7B1FA2;
  color: #212121;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1rem;
  grid-template-areas: 
  "h h "
  "n c";
  padding-left: 4rem;
  padding-right: 4rem;
}
.header {
  grid-area: h;
  background-color: #9C27B0;
}
.header__logo {
  height: 3.4rem;
}
.nav {
  grid-area: n;
  background-color: #9C27B0;
}
.nav__item {
  display: flex;
  justify-content: center;
}
.content {
  grid-area: c;
  background-color: #9C27B0;
}
.header img {
  width: 6rem;
}

.content img {
  width: 100%;
}